<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>

    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
    </script>

</head>

  <body>

  <div id="nav-placeholder"></div>


  <div class="btn-container">
    <a href="/lab-4/add-note" class="button">Add New Note</a>
  </div>

    <div class = "notes-container">
    <table id = "notes">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if note %}
        {% for note in notes %}
        <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.fromNote }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
    </div>
  </body>
</html>
