<style>

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */

.sansserif {
    font-family: Arial, Open Sans, sans-serif;

}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0025B8;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #001878;
}

div {
  border-radius: 5px;
  margin: 10% 25%;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>



<div>
<h1 class="sansserif">Create a new Friend</h1>
  <form class="sansserif" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
