<!-- 
  CODE IS MODIFIED FROM
  https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
  https://www.w3schools.com/css/css_table.asp
-->

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Friend List</title>

<style>


#customers {
  font-family: Arial, Open Sans, sans-serif;
  /* Change the border to only one line (collapsed from 2 to 1) */
  border-collapse: collapse;
  /* Set to take 100% of viewport width */
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}



#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}
</style>

</head>
<body>

<table id="customers">
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Title</th>
    <th>Message</th>
  </tr>
  {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.fromNote }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      {% endif %}
</table>

</body>
</html>
